
                       .artist-find{
                        font-family:'Franklin Gothic Medium', 
                        'Arial Narrow', Arial, sans-serif;
                        font-weight:bold;
                        text-align:center;
                        font-size:33px;
                        color:blue;
                        margin-left:40px;
                        margin-top:10px;
                        margin-bottom:0px;
                        

                    }
                    .artist-slogan{
                        
                        font-size:17x;
                        color:black;
                        text-align:center;
                        margin-left:40px;
                        margin-top:0px;
                    }
                
                    .started{
                    font-weight:bold;
                    color:black;
                    font-size:30px;
                    text-align:center;
                    margin-left:120px;
                    margin-top:100px;
                    margin-bottom:0px;
                    font-family:arial;
                    }

                    
                    .log-in{
                        font-size:20px;
                        font-weight:bold;
                        margin-left:590px;
                        margin-top:16px;
                        background-color:white;
                        border-radius:6px;
                        border-color:black;
                        padding-left:120px;
                        padding-right:120px;
                        padding-top:10px;
                        padding-bottom:10px;
                        display:block;
                        
                    }

                    .log-in:hover{
                        cursor:pointer;

                    }

                    .sign-up{
                        font-size:20px;
                        font-weight:bold;
                        margin-left:590px;
                        margin-top:10px;
                        background-color:white;
                        border-radius:6px;
                        border-color:black;
                        padding-left:104px;
                        padding-right:120px;
                        padding-top:10px;
                        padding-bottom:10px; 
                        
                    }

                    .sign-up:hover{
                        cursor:pointer;
                    }
                       